---
// import { Image } from "astro:assets"
// import Hand from "@images/jimmy-nilsson-masth-LfdLrB2B2aU-unsplash 1.png"
import about from "@data/about"
import Jobs from "@ui/Jobs.astro"
import { Picture } from "astro-imagetools/components"
---

<div class="about">
    <h2 class="about__title title">О компании «КлиматТехника»</h2>
    <div class="about__body">
        <div class="about__left">
            <Picture src="assets/images/jimmy-nilsson.png" alt="jimmy nilsson masth" />
            <!-- <img src="assets/images/jimmy-nilsson.png" alt="" /> -->
        </div>
        <div class="about__right">
            <div>
                <h3 class="about__caption">
                    «КлиматТехника» уже 20 лет работает в сфере поставок оборудования для общепита,
                    торгового и холодильного оборудования на рынке города Пензы и Пензенской области
                </h3>
                <div class="about__grid">
                    {about && about.map((e: JobsType) => <Jobs element={e} height={200} />)}
                </div>
            </div>
        </div>
    </div>
</div>

<style is:global>
    .about {
        margin-bottom: calc(124 / 1920 * 100vw);
    }
    .about__caption {
        color: var(--clr-black);
        font-size: clamp(14px, 25 / 1920 * 100vw, 25px);
        font-weight: 600;
        line-height: 105%; /* 26.25px */
        margin-block: 0 calc(50 / 1920 * 100vw);
    }
    .about__body {
        display: flex;
    }
    .about__left {
        flex: 1 1 33.333%;
    }
    .about__left > picture {
        height: 100% !important;
    }
    .about__left img {
        min-width: 120%;
        width: calc(650 / 1920 * 100vw);
        height: 100% !important;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        translate: 0 0;
        border-radius: var(--block-radius);
    }
    .about__right {
        flex: 1 1 76.666%;
        padding-right: calc(70 / 1920 * 100vw);
        padding-left: calc(210 / 1920 * 100vw);
        padding-block: 70px;
        background: #fff;
    }

    .about__right {
        display: grid;
        place-items: center;
        border-radius: var(--block-radius);
    }
    .about__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    .about__grid .jobs__body {
        translate: 0;
    }
    @media (max-width: 1024px) {
        .about__body {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50vw auto;
            margin-top: -50px;
        }
        .about__left > picture {
            width: 100%;
        }
        .about__left img {
            width: 100% !important;
            min-width: unset;
            translate: 0 50px;
        }
        .about__right {
            padding-left: calc(70 / 1920 * 100vw);
        }
    }
    @media (max-width: 768px) {
        .about__grid {
            grid-template-columns: 100%;
        }
    }
</style>
