---
import { Image } from "astro:assets"
import Picture from "@images/pexels-max-rahubovskiy-6588599.jpg"
import Button from "@ui/Button.astro"
---

<div class="discount">
    <div class="discount__left">
        <div>
            <h2 class="discount__title title">
                Скидка 10% на установку сплит-<br />системы в квартиру или частный дом
            </h2>
            <p class="discount__text">
                Оформите заявку на установку системы кондиционирования по специальной цене
            </p>
            <form action="/mail.php" id="form-discount">
                <input
                    type="text"
                    name="name"
                    id="name-input"
                    placeholder="Ваше имя"
                    required
                    form="form-discount"
                />
                <input
                    type="tel"
                    name="phone"
                    id="phone-input"
                    placeholder="(999) 999-99-99"
                    required
                    form="form-discount"
                />
                <div class="request__submit">
                    <button type="submit" form="form-discount"
                        ><Button href="" text="Отправить заявку" type="blue" /></button
                    >
                    <span class="discount__disclaimer">
                        Нажимая на кнопку, вы соглашаетесь с <a href=""
                            >политикой конфиденциальности</a
                        >
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="discount__right">
        <Image src={Picture} alt="pexels max rahubovskiy" />
    </div>
</div>

<style is:global>
    .discount {
        display: flex;
        height: min(625px, 71dvh);
        position: relative;
    }
    .discount > * {
        flex: 1;
    }
    .discount__left {
        background: var(--clr-lightblue);
        border-radius: 30px;
        color: #fff;
        display: grid;
        place-items: center;
        padding: 1rem;
    }
    .discount__right {
        z-index: -1;
    }
    .discount__right > img {
        border-radius: 0 30px 30px 0;
        translate: -50px 0;
        width: calc(50% + 50px);
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }
    .discount__title {
        color: #fff;
        text-align: left;
    }
    .discount__text {
        font-family: Inter;
        font-size: clamp(12, 18 / 1920 * 100vw, 18px);
        font-weight: 600;
        line-height: 130%; /* 23.4px */
        max-width: 518px;
        margin-block: 25px;
    }
    .discount__left form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 507px;
    }
    .discount__left .request__submit {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .discount__left .request__submit > span {
        display: block;
        width: 100%;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 14.3px */
    }
    .discount__left .request__submit > span > a {
        text-decoration: underline;
    }
    @media (max-width: 1024px) {
        .discount {
            display: grid;
            grid-template-rows: 530px;
            height: unset;
        }
        .discount__right {
            z-index: 0;
        }
        .discount__right > img {
            position: static;
            translate: 0 -50px;
            width: 100%;
            height: 100%;
            border-radius: var(--block-radius);
        }
    }
</style>

<script>
    import { ModalEvents } from "src/config/modalElents"

    {
        const discountForm = document.querySelector<HTMLFormElement>("#form-discount")
        discountForm &&
            discountForm.addEventListener("submit", async (event: Event) => {
                event.preventDefault()
                const fd = new FormData(discountForm)
                fd.append(
                    "message",
                    "Скидка 10% на установку сплит-системы в квартиру или частный дом",
                )
                try {
                    const res = await fetch(discountForm.action, {
                        method: "POST",
                        body: fd,
                    })
                    res.ok
                        ? document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Ok! We call you later" },
                              }),
                          )
                        : document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Fail! Try again later" },
                              }),
                          )
                } catch (error) {
                    document.dispatchEvent(
                        new CustomEvent(ModalEvents.modalMessage, {
                            detail: { message: "Fail! Try again later" },
                        }),
                    )
                }
            })
    }
</script>
