---
import partners from "@data/partners";
import { Image } from "astro:assets"
---
<div class="partners">
    <div class="partners__title title">Наши партнёры</div>
    <ul class="partners__list">
        {
            partners && partners.map(e=><li ><Image src={e} alt="" draggable="false"/></Image></li>)
        }
    </ul>
</div>

<style is:global>

.partners__list{
        list-style: none;
        padding-left: 0;
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 5px; */
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        user-select: none;
    }
    .partners__list::-webkit-scrollbar{
        height: 3px;
        background: #38529f1f;
        border-radius: 3px;
    }
    .partners__list::-webkit-scrollbar-thumb{
        background: var(--clr-blue);
    }
    .partners__list > li{
        flex: 1 0 150px;
        border-radius:10px;
        overflow: hidden;
        scroll-snap-align: center;

    }
    .partners__list > li > img{
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }
</style>