---
import Hand from "@images/young-woman-using-home-technology.jpg"
import Button from "@ui/Button.astro"
import { Image } from "astro:assets"
---

<div class="request">
    <div class="request__header">
        <h2 class="request__title">Оформите заявку</h2>
        <p class="request__text">Заполните форму, и мы свяжемся <br /> с Вами в ближайшее время</p>
    </div>
    <div class="request__body">
        <form action="" id="form">
            <input
                type="text"
                name="name"
                id="name-input"
                placeholder="Ваше имя"
                required
                form="form"
            />
            <input
                type="tel"
                name="phone"
                id="phone-input"
                placeholder="(999) 999-99-99"
                required
                form="form"
            />
            <textarea
                name="text"
                id="text-input"
                cols="30"
                rows="5"
                placeholder="Чем мы можем вам помочь?"
                form="form"></textarea>
        </form>
        <div class="request__submit">
            <button type="submit" form="form-discount"
                ><Button href="" text="Отправить заявку" type="blue" /></button
            >
            <span class="discount__disclaimer">
                Нажимая на кнопку, вы соглашаетесь с <a href="">политикой конфиденциальности</a>
            </span>
        </div>
    </div>
    <div class="request__footer">
        <Image src={Hand} alt="hand" />
    </div>
</div>

<style is:global>
    .request {
        background: url("assets/images/fills/form.png") no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: var(--block-radius);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        padding-left: 100px;
        margin-bottom: 20px;
    }
    .request__header,
    .request__body {
        place-self: stretch center;
        margin-top: 120px;
    }
    .request__header {
        place-self: start;
    }
    .request__footer {
        place-self: center end;
        border-radius: var(--block-radius);
        overflow: hidden;
    }
    .request__body {
        width: min(509px, 100%);
    }
    .request__body > form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .request__submit {
        width: 50%;
    }
    .request__submit > button {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
    .request__title {
        font-size: 45px;
        font-weight: 600;
        line-height: 105%; /* 47.25px */
        margin: 0;
        padding: 0;
    }
    .request__submit {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .request__submit > span {
        display: block;
        width: 100%;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 14.3px */
    }
    .request__submit > span > a {
        text-decoration: underline;
    }
</style>
