---
import Hand from "@images/young-woman-using-home-technology.jpg"
import Button from "@ui/Button.astro"
import { Image } from "astro:assets"
import { Picture } from "astro-imagetools/components"
---

<div class="request">
    <div class="request__header">
        <h2 class="request__title title">Оформите заявку</h2>
        <p class="request__text">Заполните форму, и мы свяжемся <br /> с Вами в ближайшее время</p>
    </div>
    <div class="request__body">
        <form action="/mail.php" id="form-request">
            <input
                type="text"
                name="name"
                id="name-input"
                placeholder="Ваше имя"
                required
                form="form-request"
            />
            <input
                type="tel"
                name="phone"
                id="phone-input"
                placeholder="(999) 999-99-99"
                required
                form="form-request"
            />
            <textarea
                name="text"
                id="text-input"
                cols="30"
                rows="5"
                placeholder="Чем мы можем вам помочь?"
                form="form-request"></textarea>
        </form>
        <div class="request__submit">
            <button type="submit" form="form-request"
                ><Button href="" text="Отправить заявку" type="blue" /></button
            >
            <span class="discount__disclaimer">
                Нажимая на кнопку, вы соглашаетесь с <a href="">политикой конфиденциальности</a>
            </span>
        </div>
    </div>
    <div class="request__footer">
        <!-- <Image src={Hand} alt="hand" /> -->
        <Picture
            src="assets/images/young-woman-using-home-technology.jpg"
            alt="hand"
            width="437"
            breakpoints={{ count: 2, minWidth: 100, maxWidth: 437 }}
        />
    </div>
</div>

<style is:global>
    .request {
        background: url("/assets/images/fills/form.webp") no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: var(--block-radius);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        /* padding-inline: calc(100 / 1920 * 100vw); */
        margin-bottom: 20px;
        height: 572px;
        position: relative;
    }

    .request__header,
    .request__body {
        place-self: stretch center;
        margin-top: calc(120 / 1920 * 100vw);
        padding-inline: 1rem;
    }
    .request__header {
        place-self: start center;
    }
    .request__body textarea {
        resize: none;
    }
    .request__footer {
        place-self: stretch end;
        border-radius: var(--block-radius);
        overflow: hidden;
        /* position: absolute; */
        right: 0;
    }
    .request__footer > picture {
        width: 100%;
        height: 100% !important;
        /* position: absolute; */
        /* right: 0; */
    }
    .request__footer img {
        width: 100%;
        height: 100% !important;
    }
    .request__body {
        width: min(509px, 100%);
    }
    .request__body > form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .request__title {
        color: #fff;
    }

    .request__submit {
        width: 50%;
    }
    .request__submit > button {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }

    .request__submit {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
    }
    .request__submit > button {
        flex: 9999 1 200px;
    }
    .request__submit > span {
        display: block;
        /* width: 100%; */
        flex: 1 1 250px;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 14.3px */
    }
    .request__submit > span > a {
        text-decoration: underline;
    }
    @media (max-width: 1024px) {
        .request {
            height: 100dvh;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
        }
        .request__footer {
            /* display: none; */
            place-self: stretch;
            grid-column: 1 / -1;
        }
        .request__footer img {
            animation: fly-footer 10s infinite ease-in-out both;
        }
        .request__submit {
            flex-wrap: wrap;
        }
    }
    @media (max-width: 768px) {
        .request {
            grid-template-columns: 100%;
        }
        .request__header {
            place-self: center;
            margin-top: 2dvh;
        }
    }
    @keyframes fly-footer {
        0% {
            object-position: 50% 0%;
        }
        50% {
            object-position: 50% 100%;
        }
        100% {
            object-position: 50% 0%;
        }
    }
</style>

<script>
    import { ModalEvents } from "src/config/modalElents"

    {
        const requestForm = document.querySelector<HTMLFormElement>("#form-request"),
            phone = document.querySelector<HTMLFormElement>(
                ".request > .request__body input[type='tel']",
            )

        requestForm &&
            requestForm.addEventListener("submit", async (event: Event) => {
                event.preventDefault()
                const fd = new FormData(requestForm)
                try {
                    const res = await fetch(requestForm.action, {
                        method: "POST",
                        body: fd,
                    })
                    res.ok
                        ? document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Ok! We call you later" },
                              }),
                          )
                        : document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Fail! Try again later" },
                              }),
                          )
                } catch (error) {
                    document.dispatchEvent(
                        new CustomEvent(ModalEvents.modalMessage, {
                            detail: { message: "Fail! Try again later" },
                        }),
                    )
                }
            })
        const phoneMask = phone => {
            return phone
                .replace(/\D/g, "")
                .replace(/^(\d)/, "($1")
                .replace(/^(\(\d{3})(\d)/, "$1) $2")
                .replace(/(\d{3})(\d{1,2})/, "$1-$2")
                .replace(/(-\d{2})(\d{1,2})$/, "$1-$2")
                .replace(/(-\d{2})(\d{2})(\d+)$/, "$1-$2")
        }

        phone &&
            phone.addEventListener("input", event => {
                const { value } = event.target as HTMLInputElement
                const str =
                    value.replace(/\D/g, "").length >= 10
                        ? ""
                        : "Номер телефона должен состоять из 10 цифр"
                phone.setCustomValidity(str)
                ;(event.target as HTMLInputElement).value = phoneMask(value)
            })
    }
</script>
