---
import Hand from "@images/young-woman-using-home-technology.jpg"
import Button from "@ui/Button.astro"
import { Image } from "astro:assets"
---

<div class="request">
    <div class="request__header">
        <h2 class="request__title">Оформите заявку</h2>
        <p class="request__text">Заполните форму, и мы свяжемся <br /> с Вами в ближайшее время</p>
    </div>
    <div class="request__body">
        <form action="/mail.php" id="form-request">
            <input
                type="text"
                name="name"
                id="name-input"
                placeholder="Ваше имя"
                required
                form="form-request"
            />
            <input
                type="tel"
                name="phone"
                id="phone-input"
                placeholder="(999) 999-99-99"
                required
                form="form-request"
            />
            <textarea
                name="text"
                id="text-input"
                cols="30"
                rows="5"
                placeholder="Чем мы можем вам помочь?"
                form="form-request"></textarea>
        </form>
        <div class="request__submit">
            <button type="submit" form="form-request"
                ><Button href="" text="Отправить заявку" type="blue" /></button
            >
            <span class="discount__disclaimer">
                Нажимая на кнопку, вы соглашаетесь с <a href="">политикой конфиденциальности</a>
            </span>
        </div>
    </div>
    <div class="request__footer">
        <Image src={Hand} alt="hand" />
    </div>
</div>

<style is:global>
    .request {
        background: url("assets/images/fills/form.png") no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: var(--block-radius);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        padding-left: 100px;
        margin-bottom: 20px;
    }
    .request__header,
    .request__body {
        place-self: stretch center;
        margin-top: 120px;
    }
    .request__header {
        place-self: start;
    }
    .request__footer {
        place-self: center end;
        border-radius: var(--block-radius);
        overflow: hidden;
    }
    .request__body {
        width: min(509px, 100%);
    }
    .request__body > form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .request__submit {
        width: 50%;
    }
    .request__submit > button {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }
    .request__title {
        font-size: 45px;
        font-weight: 600;
        line-height: 105%; /* 47.25px */
        margin: 0;
        padding: 0;
    }
    .request__submit {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .request__submit > span {
        display: block;
        width: 100%;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 14.3px */
    }
    .request__submit > span > a {
        text-decoration: underline;
    }
</style>

<script>
    import { ModalEvents } from "src/config/modalElents"

    {
        const requestForm = document.querySelector<HTMLFormElement>("#form-request"),
            phone = document.querySelector<HTMLFormElement>(
                ".request > .request__body input[type='tel']",
            )

        requestForm &&
            requestForm.addEventListener("submit", async (event: Event) => {
                event.preventDefault()
                const fd = new FormData(requestForm)
                try {
                    const res = await fetch(requestForm.action, {
                        method: "POST",
                        body: fd,
                    })
                    res.ok
                        ? document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Ok! We call you later" },
                              }),
                          )
                        : document.dispatchEvent(
                              new CustomEvent(ModalEvents.modalMessage, {
                                  detail: { message: "Fail! Try again later" },
                              }),
                          )
                } catch (error) {
                    document.dispatchEvent(
                        new CustomEvent(ModalEvents.modalMessage, {
                            detail: { message: "Fail! Try again later" },
                        }),
                    )
                }
            })
        const phoneMask = phone => {
            return phone
                .replace(/\D/g, "")
                .replace(/^(\d)/, "($1")
                .replace(/^(\(\d{3})(\d)/, "$1) $2")
                .replace(/(\d{3})(\d{1,2})/, "$1-$2")
                .replace(/(-\d{2})(\d{1,2})$/, "$1-$2")
                .replace(/(-\d{2})(\d{2})(\d+)$/, "$1-$2")
        }

        phone &&
            phone.addEventListener("input", event => {
                const { value } = event.target as HTMLInputElement
                const str =
                    value.replace(/\D/g, "").length >= 10
                        ? ""
                        : "Номер телефона должен состоять из 10 цифр"
                phone.setCustomValidity(str)
                ;(event.target as HTMLInputElement).value = phoneMask(value)
            })
    }
</script>
