---
import Header from "./Header.astro"
import { Image } from "astro:assets"
import TizerImage from "@images/tizer.png"
import Sprite from "@ui/Sprite.astro"
import Button from "@ui/Button.astro"
import SearchPanel from "@ui/SearchPanel.astro"
---

<div class="tizer">
    <Header />
    <SearchPanel />
    <div class="tizer__body">
        <div class="tizer__left">
            <div class="tizer__garant">
                <Sprite name="dot" />
                <span>Гарантия на работу до 5 лет</span>
            </div>
            <h2 class="tizer__title">Доставка и установка кондиционеров в Пензе</h2>
            <p class="tizer__text">
                Широкий выбор промышленных и бытовых кондиционеров для домов, квартир и офисов
            </p>
            <Button type="blue" text="Перейти в каталог" href="" />
        </div>
        <div class="tizer__right">
            <Image src={TizerImage} alt="tizer image" />
        </div>
    </div>
</div>

<style is:global>
    .tizer {
        position: relative;
    }
    .tizer__body {
        display: flex;
        justify-content: space-between;
        margin-top: calc(136 / 1920 * 100vw);
    }
    .tizer__left {
        max-width: 552px;
    }
    .tizer__title {
        color: var(--clr-black);
        font-size: clamp(30px, 55 / 1920 * 100vw, 55px);
        font-weight: 500;
        line-height: 105%; /* 57.75px */
        margin: 0;
        padding: 0;
    }
    .tizer__text {
        margin-block: 30px;
        padding: 0;
        color: var(--clr-black);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%; /* 23.4px */
    }
    .tizer__left .button {
        max-width: max(225px, 50%);
    }
    .tizer__garant {
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        padding: 9px 20px;
        width: max-content;
        margin-bottom: 18px;
    }
    .tizer__garant > svg {
        width: 13px;
        height: 13px;
    }
    .tizer__garant > span {
        color: var(--clr-black);
        font-size: 13px;
        font-weight: 500;
    }
    .tizer__right {
        flex: 0 0 50%;
    }
    .tizer__right > img {
        width: 100%;
        aspect-ratio: 933 / 533;
        height: auto;
        max-width: unset;
    }
    @media (max-width: 1024px) {
        .tizer__body {
            display: grid;
            grid-template-columns: 100%;
            row-gap: 2rem;
            margin-top: 5px;
        }
        .tizer__left {
            width: 100%;
            max-width: unset;
        }
        .tizer__garant {
            width: 100%;
        }
    }
</style>
