---
import { Image } from "astro:assets"
import Layout from "../layouts/main.astro"
import Condey from "../assets/images/condey.png"

---

<Layout titile="КлиматТехника">
    <h1>
		<span>Astro</span>
		<Image src={Condey} alt="condey"/>	
	</h1>
</Layout>
