---
const { background } = Astro.props
---

<div class="block" style={{ background, backgroundSize: "cover", backgroundPosition: "center" }}>
    <div>
        <slot />
    </div>
</div>

<style is:global>
    .block {
        border-radius: var(--block-radius);
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        margin: 20px 0px;
        padding: 120px calc(100 / 1920 * 100vw);
    }
    .block > div {
        width: 100%;
    }
</style>
