---
interface Props {
    background: string
    id?: string
}
const { background, id } = Astro.props
---

<div
    class="block"
    style={{ background, backgroundSize: "cover", backgroundPosition: "center" }}
    id={id || ""}
>
    <div>
        <slot />
    </div>
</div>

<style is:global>
    .block {
        border-radius: var(--block-radius);
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        margin: 20px 0px;
        padding: calc(120 / 1920 * 100vw) calc(100 / 1920 * 100vw);
    }
    .block > div {
        width: 100%;
    }
</style>
