---
import Sprite from "./Sprite.astro"
interface Props {
    type: "blue" | "transparent"
    text: string
    href: string
}

const { type, text, href } = Astro.props
---

<a class="button" href={href} data-type={type}>
    <span class="button__text">{text}</span>
    {
        {
            blue: <Sprite name="white-ref" class="button__ref" />,
            transparent: <Sprite name="blue-ref" class="button__ref" />,
        }[type]
    }
</a>

<style is:global>
    .button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 100px;
        border: 1px solid var(--clr-blue);
        padding: 5px;
        padding-left: 20px;
        width: 100%;
        color: var(--clr-blue);
    }
    .button[data-type="blue"] {
        background: var(--clr-blue);
        color: #fff;
    }
    .button[data-type="transparent"] .button__text {
        color: var(--clr-blue);
    }
    .button .button__ref {
        height: 45px;
        aspect-ratio: 1;
        color: inherit;
    }
</style>
