---
interface Props {
    title: string
    arr: unknown[]
}

const { title, arr } = Astro.props
---

<div class="list">
    <h2 class="list__title">{title}</h2>
    <ul class="list__list">
        {
            Astro.slots.has("default") &&
                arr &&
                arr.map((e, idx) => (
                    <li>
                        <Fragment set:html={Astro.slots.render("default", [e, idx])} />
                    </li>
                ))
        }
    </ul>
</div>

<style is:global>
    .list {
        width: auto;
        margin-bottom: 120px;
    }
    .list:last-child {
        margin-bottom: 0;
    }
    .list__title {
        color: var(--clr-black);
        font-size: clamp(20px,45 / 1920 * 100vw,45px);
        font-weight: 600;
        line-height: 105%; /* 47.25px */
        text-align: center;
        margin-bottom: calc(50 / 1920 * 100vw);
    }
    .list__list {
        padding-left: 0;
        list-style: none;
        /* display: flex;
        align-items: stretch;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        gap: 20px;
    }
    .list__list > * {
        flex: 1 1 300px;
    }
</style>
