---
import Button from "./Button.astro"
import { Image } from "astro:assets"

interface Props {
    element: Links
}
const {
    element: { href, name, img },
} = Astro.props
---

<a class="product-card" href={href}>
    <h4 class="product-card__title">{name}</h4>
    <Image src={img} alt="" />
    <Button type="transparent" href="" text="Узнать подробнее" />
</a>

<style is:global>
    .product-card {
        height: 100%;
        border-radius: 20px;
        background: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 15px;
    }
    .product-card > h4 {
        color: var(--clr-black);
        font-size: 25px;
        font-weight: 600;
        line-height: 105%; /* 26.25px */
        text-align: center;
    }

    .product-card > img {
        width: 100%;
        object-fit: contain;
    }
</style>
