<button class="reset-button">Сбросить</button>
<style lang="sass" is:global>
    @import "@sass/_functions"
    .reset-button
        +gcenter
        padding-block: 1rem
        cursor: pointer
        background: none
        border-radius: 100px
        border: 1px solid #38529F
        color: #38529F
        font-weight: 600
        font-size: fzp(12, 16)
</style>
